<div class="container">
    <hr />
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h6>
                    Site Haritası
                </h6>

                <p>
                    <a href="/Home/About"><i class="fa fa-info"></i>Hakkımızda</a><br />
                    <a href="/Home/MostLiked"><i class="fa fa-heart"></i>En beğenilenler</a><br />
                    <a href="/Home/Index"><i class="fa fa-pencil"></i>Son Yazılar</a>
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h6>
                    MyEvernote
                </h6>
                <p>Tüm Hakları Saklıdır &copy;MtEvernote @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h6>
                    E-Bülten Üyeliği
                </h6>
                <div class="col-md-12">
                    <p>Buraya istediğiniz bir e posta yazarak gönderebilirsiniz</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-posta Adresi">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-fighter-jet"></i>Gönder!
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </footer>
</div>
