
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <!--Kategoriler-->
            @Html.Partial("_PartialCategories")
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9 modal-dialog-centered">
            <div class="row">

                <h2>
                    Hakkımızda bilmek istediğiniz her şey
                </h2>
                <img src="http://placehold.it/500x200" class="blockquote img-fluid rounded img-thumbnail" alt="Alternatif Metin" />
                <p>
                    Whatever you're passionate about, make the most of it in a career with Accenture.
                    Whether you're a strategic thinker, a digital innovator, a tech wizard, or a business problem solver,
                    you'll find an exciting career path on the cutting edge.
                </p>
                <p>
                    Whatever you're passionate about, make the most of it in a career with Accenture.
                    Whether you're a strategic thinker, a digital innovator, a tech wizard, or a business problem solver,
                    you'll find an exciting career path on the cutting edge.
                </p>
                <p>
                    Whatever you're passionate about, make the most of it in a career with Accenture.
                    Whether you're a strategic thinker, a digital innovator, a tech wizard, or a business problem solver,
                    you'll find an exciting career path on the cutting edge.
                </p>
                <p>
                    Whatever you're passionate about, make the most of it in a career with Accenture.
                    Whether you're a strategic thinker, a digital innovator, a tech wizard, or a business problem solver,
                    you'll find an exciting career path on the cutting edge.
                </p>
            </div>

        </div>
    </div>

</div>

@section footer{
    @Html.Partial("_PartialFooter")

}